html{
	height:100%;
}
body{
	margin: 0px;
	height: 100%;
}

#wrap {
	max-width: 1600px;
}

#about-poem {
	text-align: center;
}

#overflow-indicator {
	font-size: 2.0rem;
	color: #bbb;
	position: absolute;
	bottom:1.5rem;
	left:-40px;
	visibility: hidden;
}

#tree-container{
	width: 100%;
	border-right: 1px solid #bbb;
	margin-bottom: 0px;
}

#about-container{	
	padding-right: 30px;
	border-right: 1px solid #bbb;
}

#send-button{
}

#send-button:disabled{
	color: #bbb;
	border: 1px solid #ddd;
}

#read-button{
}

#read-button:disabled{
	color: #bbb;
	border: 1px solid #ddd;
}

#back-button{
	
}

#sidebar{
	height: 100%;
	max-height: 800px;
	overflow: hidden;
}

#sidebar-wrapper{
	height:99%;
	max-height: 800px;
	overflow: auto;
}

#sidebar-wrapper::-webkit-scrollbar { width: 0 !important }

#topbar{
	padding-left: 20%;
	border-bottom: 1px solid #bbb;
}

#footer{
	position:relative;
	border-top: 1px solid #bbb;
	height:80px;
	width:100%;
	margin-top: 0px;
	clear: both;
}

#topbar-headline{
	text-decoration: none;  
	color: #555;
}

#result{
	padding-top: 10px;
	height: 100%;
	max-height: 800px;
	overflow: hidden;
}

#result-wrapper{
	height:99%;
	max-height: 800px;
	overflow: auto;
}

#result-wrapper::-webkit-scrollbar {width: 0 !important}

#prompt{
	padding-top: 10px;
	height: 100%;
	max-height: 800px;
	overflow: hidden;
}

#prompt-wrapper{
	height:99%;
	max-height: 800px;
	overflow: auto;
}

#prompt-wrapper::-webkit-scrollbar {width: 0 !important}



#nav-info{
	
	color: #555;
}