<div id="wrap" class="row">
	<div id="about-container" class="two-thirds column">
		<h5>What</h5>
		<p>
		Welcome to Inter(pre|in)vention, a collaborative, networked  electronic poetry experiment. Here you will find a database of cybernetically generated poems, created from combined efforts of people and computers.
		</p>
		<p>
		Writing and reading are collaborative and social behaviors. Language is a commons that is constituted by the community of language practitioners. We literally create language when we practice it together by reading, speaking, listening and writing. Technologies of language practice, be they oral, literary, or electrate in nature, form the vectors along which language enters the public sphere, giving it the potential to change and morph. As a product of the public, language is defined by accident, happenstance, and the various confluences of existing vectors, forces and states in human systems.
		</p>
		<p>
		How can new systems of technological and cultural production change the ways we use language? When writing and reading are fully exposed and made available by the technical apparatus, what new patterns of meaning-making can emerge? As network and computational technologies become more powerful and available, how can their prosthetic, cybernetic functions change the way we write, read, and make inscription upon the commons of language?
		</p>
		<button ng-click="goToTree()">Get Started</button>
	</div>
	<div id="sidebar" class="one-third column">
		<ul><h5>Who</h5>
			<li>Sanil Sinai Borkar</li>
			<li>Arunachalam Sakthivel Manikam</li>
			<li>Thomas R Storey</li>
			<li>Ashley S Tisdale</li>
			<li>Ashwin Viswanathan</li>
		</ul>
		<p>Thanks to Terry Harpold and Alin Dobra for their invaluable guidance and advice throughout the project.</p>
	</div>
</div>
</div>
