<div id="wrap" class="row">
	<div id="about-container" class="two-thirds column">
		<h5>What</h5>
		<p>
		Welcome to Inter(pre|in)vention, a digital poetry project that explores the transformation and production of language through collaboration as it enters the collective public sphere. Using a performative, network model, we make use of Google's Web-Speech API to generate new poetry out of errant readings of Emily Dickinson's work. 
		</p>
		<p>
		Rather than perfect transcriptions, we model imperfect conversations between the public and machines--these errant readings, however altered through dialect or machine glitch, are birthings and sites of invention, places where the transformation of language occurs to generate new possibilities. We take the private activity of reading and turn it into a public, collaborative event. Our project is especially interested in how we contribute and participate in the ever-changing cybernetic landscape of the web and the public sphere. 
		</p>
		<p>
		We display the results of our poems on a networked tree, mapping each one so that it is placed in a location depending on how similar it is to others around it, using its relative Levenshtein distance. This display can be viewed through several filters, including Emily Dickinson's most famous work, as well as many of her poems that conceptually question the same things we're after--what is it about publicity and exposure that creates a new generative artistic space, and how do we enter this expansive and unfolding public landscape? The mindscape that her poems are interested in entering mirrors the public textscape we're interested in mapping and understanding. We take the abstracted, mediated space of the commons of language and make it legible and tangible. We hope this project sheds light on the accessibility of language’s generative and productive potentials.
		</p>
		<p id="about-poem">
		There is another sky,</br>
		Ever serene and fair,</br>
		And there is another sunshine,</br>
		Though it be darkness there;</br>
		Never mind faded forests, Austin,</br>
		Never mind silent fields-</br>
		Here is a little forest,</br>
		Whose leaf is ever green;</br>
		Here is a brighter garden,</br>
		Where not a frost has been;</br>
		In its unfading flowers</br>
		I hear the bright bee hum:</br>
		Prithee, my brother,</br>
		Into my garden come!
		</p>
		<p>

		</p>
		<button ng-click="goToTree()">Get Started</button>
	</div>
	<div id="sidebar" class="one-third column">
		<ul><h5>Who</h5>
			<li>Sanil Sinai Borkar</li>
			<li>Sakthivel Manikam Arunachalam</li>
			<li>Thomas R Storey</li>
			<li>Ashley S Tisdale</li>
			<li>Ashwin Viswanathan</li>
		</ul>
		<p>Thanks to Terry Harpold and Alin Dobra for their invaluable guidance and advice throughout the project.</p>
		<p>version 1.0</p>
		<p>The poems used in this work were extracted from a <a href="http://www.poemhunter.com/i/ebooks/pdf/emily_dickinson_2012_5.pdf">pdf file</a> published by C. Ekrem Teymur on Poemhunter.</p>
		<p>Built with <a href="http://d3js.org/">d3.js</a>, <a href="https://nodejs.org/">node.js</a>, and <a href="https://angularjs.org/">AngularJS</a></p>
	</div>
</div>
